/* ---------------- */
/* Custom Style		*/
/* ---------------- */

/*
	This file should be customized to work properly. Enter the desired colors
	in the lines marked for the perfect functioning of the color scheme.
	
	Replace the fields like "#COLOR1", "#COLOR2", ... with your hexadecimal color.
	Example: 
		1. From "#COLOR1" to "#BB2222" - Red 1
		2. From "#COLOR2" to "#CC3333" - Red 2
		3. From "#COLOR3" to "#DD4444" - Red 3
		4. From "#COLOR4" to "#FF6666" - Red 4

	Thanks for purchase this item.
	Don't forget to rate us!
*/

/* Color 1 | #666666 */
/* ---------------- */
nav#nav ul li a.active, nav#nav ul li a.active:hover, nav#nav ul li a.active:focus,
ul.bjqs-controls li a:hover, ul.bjqs-controls li a:focus,
ol.bjqs-markers li a:hover, ol.bjqs-markers li.active-marker a, .bgLight, .progress span, .jspDrag, .box-img-post,
#field-send:hover, #field-send:focus, .btn.groups.active:hover, .btn.groups.active:focus,
#portfolio-page .da-thumbs li a span.spanbtn:hover,  #portfolio-page .da-thumbs li a span.spanbtn:focus
{ background-color: #666666; }

ul.bjqs-controls li a, ol.bjqs-markers li a, a:hover, a:focus,
input[type="text"]:focus, input[type="password"]:focus, .input:focus, select:focus, textarea:focus, span.feat
{ color: #666666; }

ol.bjqs-markers li a, ol.bjqs-markers li a:hover, ol.bjqs-markers li.active-marker a,
.btn:hover, .btn:focus, .btn:active, .btn.groups.active, .btn.groups:hover, .btn.groups:focus,
input[type="text"]:focus, input[type="password"]:focus, .input:focus, select:focus, textarea:focus,
#field-send:hover, #field-send:focus
{ border-color: #666666; }


/* Color 2 | #777777 */
/* ---------------- */
#mobile-nav-bt, #box-photo, #social a, a.readmore:hover, a.readmore:focus, a.readmore:active
{ background-color: #777777; }

#social a:hover, a:visited, a, a.readmore:visited, a.readmore, span.author
{ color: #777777; }

a.readmore:visited, a.readmore
{ border: 1px solid #777777; }


/* Color 3 | #888888 */
/* ---------------- */
::selection, .color-hover, #page h4:after, .btn:hover, .btn:focus, .btn:active,
.btn.groups:hover, .btn.groups:focus,.btn.groups:active, .btn.groups.active, #leftSection ul li,
#field-send
{ background-color: #888888; }
::-moz-selection { background-color: #888888; }

.progress span, .jspDrag, h5, #page h1, #page h2, #page h3, #page h4, #page h6, #page label,
#copyright p
{ color: #888888; }

#box-photo, #social a, #field-send, .line
{ border-color: #888888; }

ul.attributes li, ul.about li
{ border-left-color: #888888; }


/* Color 4 | #AAAAAA */
/* ---------------- */
#leftSection #bio, #leftSection a.menu
{ color: #AAAAAA; }

#leftSection #columnLeft, #leftSection a.menu
{ border-color: #AAAAAA; }

@import 'default.css';